<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.tcm_kgsystem.mapper.HistoryMapper" >
  <resultMap id="BaseResultMap" type="com.example.tcm_kgsystem.entity.History" >
    <id column="history_id" property="historyId" jdbcType="BIGINT" />
    <result column="history_article_id" property="historyArticleId" jdbcType="BIGINT" />
    <result column="history_user_id" property="historyUserId" jdbcType="BIGINT" />
    <result column="history_time" property="historyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    history_id, history_article_id, history_user_id, history_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.tcm_kgsystem.entity.HistoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from history
    where history_id = #{historyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from history
    where history_id = #{historyId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.tcm_kgsystem.entity.HistoryExample" >
    delete from history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.tcm_kgsystem.entity.History" >
    insert into history (history_id, history_article_id, history_user_id, 
      history_time)
    values (#{historyId,jdbcType=BIGINT}, #{historyArticleId,jdbcType=BIGINT}, #{historyUserId,jdbcType=BIGINT}, 
      #{historyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.tcm_kgsystem.entity.History" >
    insert into history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="historyId != null" >
        history_id,
      </if>
      <if test="historyArticleId != null" >
        history_article_id,
      </if>
      <if test="historyUserId != null" >
        history_user_id,
      </if>
      <if test="historyTime != null" >
        history_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="historyId != null" >
        #{historyId,jdbcType=BIGINT},
      </if>
      <if test="historyArticleId != null" >
        #{historyArticleId,jdbcType=BIGINT},
      </if>
      <if test="historyUserId != null" >
        #{historyUserId,jdbcType=BIGINT},
      </if>
      <if test="historyTime != null" >
        #{historyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.tcm_kgsystem.entity.HistoryExample" resultType="java.lang.Integer" >
    select count(*) from history
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update history
    <set >
      <if test="record.historyId != null" >
        history_id = #{record.historyId,jdbcType=BIGINT},
      </if>
      <if test="record.historyArticleId != null" >
        history_article_id = #{record.historyArticleId,jdbcType=BIGINT},
      </if>
      <if test="record.historyUserId != null" >
        history_user_id = #{record.historyUserId,jdbcType=BIGINT},
      </if>
      <if test="record.historyTime != null" >
        history_time = #{record.historyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update history
    set history_id = #{record.historyId,jdbcType=BIGINT},
      history_article_id = #{record.historyArticleId,jdbcType=BIGINT},
      history_user_id = #{record.historyUserId,jdbcType=BIGINT},
      history_time = #{record.historyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.tcm_kgsystem.entity.History" >
    update history
    <set >
      <if test="historyArticleId != null" >
        history_article_id = #{historyArticleId,jdbcType=BIGINT},
      </if>
      <if test="historyUserId != null" >
        history_user_id = #{historyUserId,jdbcType=BIGINT},
      </if>
      <if test="historyTime != null" >
        history_time = #{historyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where history_id = #{historyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.tcm_kgsystem.entity.History" >
    update history
    set history_article_id = #{historyArticleId,jdbcType=BIGINT},
      history_user_id = #{historyUserId,jdbcType=BIGINT},
      history_time = #{historyTime,jdbcType=TIMESTAMP}
    where history_id = #{historyId,jdbcType=BIGINT}
  </update>
</mapper>